<a href="https://colab.research.google.com/github/dajebbar/Deep-Learning-with-PyTorch-Zero-to-GANs/blob/main/hyperparams.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
# Set and get hyperparameters in scikit-learn
---

This notebook shows how one can get and set the value of a hyperparameter in a scikit-learn estimator. We recall that hyperparameters refer to the parameter that will control the learning process.

They should not be confused with the fitted parameters, resulting from the training. These fitted parameters are recognizable in scikit-learn because they are spelled with a final underscore `_`, for instance model`.coef_`.

We will start by loading the adult census dataset and only use the numerical features.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
%matplotlib inline

In [7]:
adult_census = pd.read_csv("./adult.csv")

In [9]:
from sklearn.compose import make_column_selector as selector 

num_features = selector(dtype_include='number')(adult_census.drop('education-num', axis=1))
data = adult_census[num_features]
target = adult_census['class']

data.head()

   age  fnlwgt  capital-gain  capital-loss  hours-per-week
0   25  226802             0             0              40
1   38   89814             0             0              50
2   28  336951             0             0              40
3   44  160323          7688             0              40
4   18  103497             0             0              30

Let's create a simple predictive model made of a scaler followed by a logistic regression classifier.

As mentioned in previous notebooks, many models, including linear ones, work better if all features have a similar scaling. For this purpose, we use a `StandardScaler`, which transforms the data by rescaling features.